/* BASIC PORTFOLIO */

/**** UNIVERSAL STYLES ****/

body {
	font-family: 'Raleway', sans-serif;
}

.container {
	margin: 0 auto;
	width: 90%;
}

header {
	background: 
		linear-gradient(
		rgba(255, 179, 128, 0.5),
		rgba(255, 179, 128, 0.5)
		),
		url(../images/mars-landscape.jpg);
	background-position: top-right;
	background-size: auto 800px;
	background-repeat: no-repeat;
	min-height: 800px;
	text-align: center;

}

/*.header {
	background: 
		linear-gradient(
		rgba(150, 0, 0, 0.5),
		rgba(150, 0, 0, 0.5)
		);
}*/

header h1,
header h2 {
	margin: 0 auto;
	padding-left: 5%;
	padding-right: 5%;
}

header h1 {
	padding-top: 150px;
	padding-bottom: 10px;
	font-size: 14vw;
	font-weight: 300;
	text-shadow: 0 0 10px #ddd;
}

header h2 {
	text-shadow: 0 0 10px #aaa;
}

.bio-photo {
	margin-top: 2em;
	width: 150px;
	border-radius: 100%;
}